# To use a custom superuser name, set POSTGRES_USER.
# Defaults to `postgres`.
# POSTGRES_USER=postgres

# To create a custom database during initialization, set POSTGRES_DB.
# Defaults to POSTGRES_USER.
# POSTGRES_DB=postgres

POSTGRES_PASSWORD=